#%RAML 0.8
---
title: IsaaCloud REST API
version: 0.1 v
protocols: [ HTTPS ]
baseUri: https://isaacloud.com/{version}/api
mediaType:  application/json
securedBy: [oauth_2_0]
traits:
 - paginator:
    queryParameters:
     offset:
      description: Number of returning items
      type: number
      minLength: 1
     limit:
      description: Starting position
      type: number
      minLength: 1
 - groups:
    queryParameters:
     groups:
      description: The groups we want to narrow down our search to
      type: string
      example: 1,2,4,5
 - segments:
    queryParameters:
     segments:
      description: The segments we want to narrow down our search to.
      type: string
      example: 1,2,4,5
 - fields:
    queryParameters:
     fields:
      description: The fields we want to show in our result
      type: string
      example: id,name,description
 - ordering:
    queryParameters:
     order:
      description: The fields we want to order by and the type of ordering.
      type: string
      example: "id,name,description"
/queue:
  displayName: Queue
  /events: !include data/queue_events.raml
  /notifications: !include data/queue_notifications.raml
/cache:
  displayName: Cache
  /users: !include data/cache_users.raml
  /segments: !include data/cache_segments.raml
  /notifications: !include data/cache_notifications.raml
  /leaderboards: !include data/cache_leaderboards.raml
  /history: !include data/cache_history.raml
  /groups: !include data/cache_groups.raml
  /games: !include data/cache_games.raml
  /events: !include data/cache_events.raml
  /achievements: !include data/cache_achievements.raml