#%RAML 0.8
---
title: IsaaCloud REST API
version: v1.0
protocols: [ HTTPS ]
baseUri: https://isaacloud.com/{version}/api
mediaType:  application/json
securedBy: [oauth_2_0]
securitySchemes:
    - oauth_2_0: !include oauth_2_0.yml
documentation:
 - title: Getting Started
   content: !include getting-started.md
schemas:
  users: !include schemas/users.json
  user: !include schemas/user.json   
traits:
	- paginator:
		   queryParameters:
		   		offset:
		   			description: Number of returning items
		   			type: number
		   			minLength: 1

		   		limit:
		   			description: Starting position
		   			type: number
		   			minLength: 1
	- groups:
			queryParameters:
				groups:
					description: The groups we want to narrow down our search to
					type: string
					example: 1,2,4,5
	- segments:
			queryParameters:
				segments:
					description: The segments we want to narrow down our search to.
					type: string
					example: 1,2,4,5
	- fields:
			queryParameters:
				fields:
					description: The fields we want to show in our result
					type: string
					example: id,name,description
	- ordering:
			queryParameters:
				order:
					description: The fields we want to order by and the type of ordering.
					type: string	
					example: id:DESC,name:ASC											
/cache:
	/users:
		get:
			is: [ paginator, groups, segments, fields, ordering]
			securedBy: [oauth_2_0]
			description: Get users collection
			responses:
          		200:
            		body:
              			schema: users
		/{userId}
			get:
				is: [fields]
				securedBy: [oauth_2_0]
				description: Get one user
				responses:
	          		200:
	            		body:
	              			schema: user	

